
body{
    color: #3c3939;
    background-color: #EFEFEF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-red{
    color: #8B3030;
}
.cabecera{
    background-color: #EFEFEF !important;

}
.text-beige{
    color: #3c3939 !important;
   }
.logo{
    height: 4em;
}
footer{
    height: var(--footerheight);
}
main{
    margin-bottom:var(--footerheight)
}
.vector{
    margin-top: 5%;
    margin-bottom: 5%;

}
.texto-style {
    width: 19em;
    height: 19em;
    margin-left: 9%;
    margin-top: 5%;

}
.container-style{
    display: flex;
    justify-content: center;
    background-color:#e6e6e677 ;

}
.MapContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#mapaSvg{

width: 80%;
height: 80%;
fill: #692121;
}

.fondodifuminado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e6e6d4 ;
    color: #3c3939;
}
/*SHOW BAR*/
.container-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.carousel-show{
width:55vw ;

}
.description-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.map-show{
    width: 40vw;
    height:40vh ;
    margin: 1rem;
    border-radius: 10px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.container-index{
    display: flex;
    width: 100%;
}
.container-cards-index{
display: grid;
grid-template-columns: repeat(2, 18vw);
grid-template-rows: repeat(2, 50vh);
grid-column-gap: 5px;
grid-row-gap: 5px;
width: 65%;

}
.cards-index{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 50vh;
    justify-content: space-evenly;
    border-radius: 20px;
    border: #3c39394c 1px solid;
    background-color: #EFEFEF;
    overflow: hidden;
    position: relative;

}

.cards-index:hover .img-card-index img{
    transform: scale(1.5);


}
.img-card-index{
    height: 50%;
    height: 30vh;
    overflow: hidden;

}
.img-card-index img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;


}
.info-card-index{
    height: 50%;
    padding: 1.5rem;

}
.container-map-index{
    width: 100%;
    height: 150vh;
    padding-left: 1rem;

}
.mapa-index{
width: 100%;
height: 100%;
border-radius: 2rem;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.container-footer{
    width: 98.9vw;
    display: flex;
    border-top: #ffffff30 1px solid;
    background-color: #555252ce;
    color: white;

}
.contact-container{
    width: 48vw;
    padding: 1vw;
}

.copy-redes-container{
    width: 50vw;

}
.redes-footer{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    gap: 1.5rem;
}

.redes-footer img{
    width:4vw;

}
.copy-footer{
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
li{
    list-style: none;
}
